
*{
    margin: 0;
padding: 0;
box-sizing: border-box;}
    body{
    padding: 0 50px0px;
    /* border: 2px solid black; */
    width: auto;
    min-height: Auto;
}

nav{
    height: auto;padding: 0.5rem 1rem;
background-color: navy;
display: flex;align-items: center;
color: white;
gap: 20px;}

nav>a{
    color: inherit;
    text-decoration-line: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500px;
}



#head{
    padding: 50px;
    line-height: 20px;
    background-color: rgb(186, 4, 4);
    
}
#head>h1{
    font-size: 50px;
font-family: sans-serif;
font-weight: 500px;
color: white;
text-align: center;
}
#head>p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 550px;
    color: white;
    text-align: center;
    padding-top: 20px;
}
#head>h2{
display: none;
}
select{
    width: 75px;
    background-color: navy;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    border: none;
    font-weight: 500px;
}
select:hover{
    background-color: red;
}

option:hover{
    background-color: gainsboro;
}
#sea{
    margin-left: 30%;
}
#menu{
    display: none;
    margin-left: 0;


}
#strong{
    height: 50px;
   text-align: center;
   font-size: 16px;
   font-family: sans-serif;
   margin-top: 2%;
}
#ani{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50px;
    margin: auto;
    gap: 8px;
}
#animation{
   height: 20px;
   width: 20px;
   border-radius: 50px;
   background-color: red;
   animation: button 1s linear 0.1s infinite;
}
#whatsapp{
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 183, 44);
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    gap: 10px;
    padding: 0 0px;
    border-radius: 30px;margin: auto;
   margin-top: 20px;
}
#whatsapp:hover{
    width: 190px;
    height: 45px;
}
#whatsapp>a{
    color: inherit;
    font-size: inherit;
    text-decoration: none;

}
#sar-text{
    height:50px;
    width: auto;
    text-align: center;
    margin: auto;
    padding: auto;
   /* text-decoration: underline; */
    
}
#sar-text>p{
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;
    margin-top: 10px;

}
@keyframes button {
    0%,100%{ 
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
#grid{
    height: 160px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    font-weight: 500px;
    font-family:sans-serif;
    font-size: 20px;
    row-gap: 10px;
    column-gap: 10px;
    margin:20px 0;
    padding: 0 20px;
}
#grid>div{
  
    border-radius: 5px ;
    padding: 17px;
    max-height: 80px;
    max-width: 300px;
   text-decoration-line: none;
}
#red{
    background-color:rgb(243, 71, 36);
}
#orange{
    background-color: orange;
}
#pink{
    background-color: rgb(252, 148, 165);
}
#blue{
    background-color: blue;
}
#kahi{
    background-color: #868a08;;
}
#sky{
    background-color: #0080ff;
}
#brown{
    background-color: #5f0000;
}
#green{
    background-color: darkgreen;
}
#container{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
#result{
    height: auto;
    max-width: 330px;
    border: 2px solid red;
}
#rel-butt{
    height: 50px;
    width: 120px;
    border-radius:50px;
    background-color: blue;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-left: 150px;
    border: none;
    margin-bottom:70px;
}

#admit{
    height: auto;
    max-width: 330px;
    border: 2px solid red;
}
#button{
    height: 50px;
    width: 120px;
    border-radius:50px;
    background-color: blue;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-left: 50px;
    border: none;
    margin-bottom:40px;
}
#latest{
    height: auto;
    max-width: 330px;
    border: 2px solid red;
}
.top{
    height: 40px;
   width: 320px;
    background-color: rgb(221, 53, 23);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700px;
    color: white;
    padding-top: 10px;
    
}
.ul{
    padding-left: 30px;
}
li{
    max-width: 260px;
    margin: 10px 0;
}
li>a{
    color: blue;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
#comments{
    height: auto;
    width: auto;
    border: 2px solid grey;
}
@media screen and (max-width:767px) {
   #head>h1{
    display: none;
   } 
   #head>h2{
    display: block;
    font-size: 22px;
font-family: sans-serif;
font-weight:400px;
color: white;
text-align: center;

   }
   #head{
    padding:27px;
    

}

#head>p{
    font-size: 15px;
    font-family: sans-serif;
    font-weight:450px;
    color: white;
    text-align: center;
}
nav>a{
    display: none;
}
nav>select{
    display: none;
}
#menu{
    display: block;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;
    gap: 10px;
}
#sea{
   margin-left: 190px;
}
#strong{
    margin: 1%;
    font-size: 10px;
}
#animation{
    height: 15px;
    width: 15px;
    border: 30px;
}
#ani{
    height: 25px;
    width: 80px;
    border-radius: 40px;
    gap: 5px;
}
#whatsapp{
    margin-top: 10px;
}
#grid{
    font-weight: 300px;
    font-family:sans-serif;
    font-size: 15px;
    row-gap:7px;
    column-gap: 7px;
    margin:10px 0;
    padding: 0 10px;
}
#grid>div{
    height: auto;
    width: auto;
}
#container{
display: grid;
grid-template-columns: auto auto;
}
#result{
    max-width: 250px;
}
#admit{
    max-width: 250px;
}
#latest{
    max-width: 250px;
}
.top{
    max-width: 245px;
}
#rel-butt{
    margin-left: 70px;
}
#button{
    margin-left: 40px;
}
}